<app-header></app-header>
  <div class="wrapper">
    
    <main>
        <h1>Source</h1>
        <nav>
          <app-sources></app-sources>
          <div>
             <input type="text" />
              <button>Filter</button>
          </div>
          <div>
            <label><input type="checkbox" />Only created by me</label>
          </div>   
          <div>
            <button onclick="window.location.href='/add'">Add article</button>
          </div>
        </nav>
        <section class="newsfeed">
          <router-outlet></router-outlet>
        </section>
  </main>
  </div>
  <app-footer></app-footer>


